body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.row {
  display: table-row;
}

.left {
    display: table-cell;
    max-width: 350px;
}

.right {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 1em;
}

.chart-container {
    min-height: 300px;
    display: block;
    width: auto;
}

.increasing {
    color: red;
}

.decreasing {
    color: green;
}
