/* Color set http://flatcolors.net/palette/261-flats-and-sharps */

body {
    margin: 0;
    padding: 0;
    color: #331B17;
}

.container {
    margin: 0;
    padding: 0;
}

.row {
  display: table-row;
}

.left {
    display: table-cell;
    max-width: 350px;
}

#jobs {
    background-color: #F8E8B5;
}

#jobs ul {
    padding: 1em;
    margin: 0;
}

#jobs li {
    list-style: none;
    cursor: pointer;
    color: #42787A;
    overflow-x: hidden;
}

#jobs li:hover {
    color: #409C97;
}

#jobs li.active {
    color: #F0340F;
}

.right {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 1em;
}

#content {
    padding-left: 1em;
}

.buildtimes-container {
    min-height: 300px;
    display: block;
}

.buildresults-container {
    width: 300px;
    height: 300px;
    float: left;
    display: block;
}

.increasing {
    color: #F0340F;
}

.decreasing {
    color: green;
}
