// FlatUI colors by http://flatuicolors.com
$TURQOISE: #1abc9c;
$GREEN_SEA: #16a085;
$EMERALD: #2ecc71;
$NEPHRITIS: #27ae60;
$PETER_RIVER: #3498db;
$BELIZE_HOLE: #2980b9;
$AMETHYST: #9b59b6;
$WISTERIA: #8e44ad;
$WET_ASPHALT: #34495e;
$MIDNIGHT_BLUE: #2c3e50;
$SUN_FLOWER: #f1c40f;
$ORANGE: #f39c12;
$CARROT: #e67e22;
$PUMPKIN: #d35400;
$ALIZARIN: #e74c3c;
$POMEGRANATE: #c0392b;
$CLOUDS: #ecf0f1;
$SILVER: #bdc3c7;
$CONCRETE: #95a5a6;
$ASBESTOS: #7f8c8d;

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: $MIDNIGHT_BLUE;
  opacity: 1;
}
:-moz-placeholder {
  color: $MIDNIGHT_BLUE;
  opacity: 1;
}
::-moz-placeholder {
  color: $MIDNIGHT_BLUE;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $MIDNIGHT_BLUE;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: $MIDNIGHT_BLUE;
  background-color: $CLOUDS;
}

.hidden {
  display: none;
}

.page {
  margin: 0;
  padding: 0;
  height: 100%;
}

.left {
  float: left;
}

.expanding {
  overflow: hidden;
}

.right {
  float: right;
}

.sidebar {
  width: 350px;
  height: 100%;
  overflow-x: hidden;
}

.page-content {
  vertical-align: top;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.page-main {
  background-color: $CLOUDS;
  padding: 0 1em 3em;
  margin-bottom: -5px;
  min-height: calc(100% - 165px);
}

.page-footer {
  height: 100px;
}

.right-shadow {
  -webkit-box-shadow: 7px 0 9px -7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 7px 0 9px -7px rgba(0, 0, 0, 0.7);
  box-shadow: 7px 0 9px -7px rgba(0, 0, 0, 0.7);
}

.bottom-shadow {
  -webkit-box-shadow: 0 7px 9px -7px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 7px 9px -7px rgba(0,0,0,0.7);
  box-shadow: 0 7px 9px -7px rgba(0,0,0,0.7);
}

h1 {
  span {
    padding: 0 .5em;
  }
  a {
    color: $MIDNIGHT_BLUE;
    position: relative;
    cursor: pointer;
  }
}

#jobs {
  background-color: $MIDNIGHT_BLUE;
  overflow-y: hidden;
  position: relative;
  z-index: 100;
  &.collapsed {
    width: 42px;
    button#jobs-collapse {
      display: none;
    }
    text-align: center;
    ul {
      display: none;
    }
    header {
      width: 37px;
    }
    .search {
      display: none;
    }
  }
  &.expanded {
    button#jobs-expand {
      display: none;
    }
  }
  header {
    width: 345px;
    height: 32px;
    padding: 8px 5px 8px 0;
    background-color: $GREEN_SEA;
    text-align: right;
    vertical-align: middle;
    button {
      width: 32px;
      height: 32px;
      border: 0;
      padding :0;
      margin: 0;
      color: $MIDNIGHT_BLUE;
      background-color: $GREEN_SEA;
      cursor: pointer;
      i {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .search {
      float: left;
      line-height: 32px;
      color: $MIDNIGHT_BLUE;
      font-size: 24px;
      border: 0;
      padding: 0;
      margin: 0 5px;
      width: 300px;
      vertical-align: middle;
      i {
        width: 32px;
        line-height: 32px;
        float: left;
        text-align: center;
      }
      input {
        outline: none;
        font-size: 24px;
        float: left;
        border: 0;
        padding: 0;
        margin: 0 0 0 5px;
        width: 260px;
        height: 32px;
        color: $MIDNIGHT_BLUE;
        background-color: $GREEN_SEA;
      }
    }
  }
  nav {
    height: calc(100% - 50px);
    overflow-y: auto;
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      color: $CLOUDS;
      li {
        background-color: $WET_ASPHALT;
        list-style: none;
        cursor: pointer;
        overflow-x: hidden;
        margin: 2px 0;
        &.active {
          background-color: $MIDNIGHT_BLUE;
          a {
            color: $TURQOISE;
          }
        }
        a {
          color: $CLOUDS;
          display: block;
          padding: .5em;
        }
      }
    }
  }
}

nav.pages {
  ul {
    margin-top: 0;
    border: 2px solid $WET_ASPHALT;
    border-radius: 6px;
    padding: 6px;
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
      padding: 6px 2px;
    }
    a {
      color: $CLOUDS;
      background-color: $WET_ASPHALT;
      border-radius: 4px;
      padding: 6px 21px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      &.active {
        color: $TURQOISE;
        background-color: $MIDNIGHT_BLUE;
      }
    }
  }
}

footer {
  padding: 1em;
  background-color: $SILVER;
  font-size: small;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: -1000;
  p {
    margin-left: 390px;
  }
  a {
    color: $MIDNIGHT_BLUE;
    font-weight: bold;
  }
}

.pie-chart-container {
  width: 250px;
  height: 250px;
}

.bar-chart-container {
  height: 300px;
  div {
    height: 300px;
  }
}

.metric-gain,
.gain {
  background-color: $NEPHRITIS;
}

.metric-loss,
.loss {
  color: $SILVER;
  background-color: $POMEGRANATE;
}

table.metrics {
  margin-right: 1em;
  background-color: $SILVER;
  border-collapse: collapse;
  td:first-child,
  th:first-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  th:first-child {
    text-align: left;
  }
  th:first-child {
    border-right: 1px solid $CLOUDS;
  }
  td:last-child,
  th:last-child {
    padding-right: 10px;
    padding-left: 10px;
  }
  td:last-child {
    border-left: 1px solid $CLOUDS;
  }
  tr {
    padding: 0 5px;
    border-bottom: 1px solid $CLOUDS;
  }
  tr.header {
    color: $SILVER;
    background-color: $MIDNIGHT_BLUE;
    border: none;
    &:first-child {
      th {
        padding-top: .5em;
        padding-bottom: .5em;
        &:last-child {
          border-left: 1px solid $SILVER;
        }
        &:nth-child(2) {
          padding-right: .5em;
        }
      }
    }
    &:nth-child(2) {
      border-bottom: 1px solid $CLOUDS;
      th {
        border-bottom: 1px solid $CLOUDS;
      }
    }
    th:first-child {
      border: none;
    }
  }
}

.metric-main {
  text-align: center;
  padding: 6px 6px 3px;
  font-size: 18px;
}

.metric-sub {
  text-align: center;
  padding: 0 0 6px;
  font-size: 13px;
}

// Customize perfect-scrollbar
#jobs {
  .ps-container.ps-active-y {
    > .ps-scrollbar-y-rail {
      &:hover {
        background-color: $MIDNIGHT_BLUE;
        > .ps-scrollbar-y {
          background-color: $GREEN_SEA;
        }
      }
      > .ps-scrollbar-y {
        background-color: $GREEN_SEA;
      }
    }
    &.ps-in-scrolling > .ps-scrollbar-y-rail {
      background-color: $MIDNIGHT_BLUE;
      > .ps-scrollbar-y {
        background-color: $GREEN_SEA;
      }
    }
  }
}

#content.ps-container.ps-active-y {
  > .ps-scrollbar-y-rail {
    &:hover {
      background-color: $CONCRETE;
      > .ps-scrollbar-y {
        background-color: $MIDNIGHT_BLUE;
      }
    }
    > .ps-scrollbar-y {
      background-color: $MIDNIGHT_BLUE;
    }
  }
  &.ps-in-scrolling > .ps-scrollbar-y-rail {
    background-color: $CONCRETE;
    > .ps-scrollbar-y {
      background-color: $MIDNIGHT_BLUE;
    }
  }
}

