include mixins/scripts

header
  h1
    a#previous-job(href="#") ◀
    span #{name}
    a#next-job(href="#") ▶

section#build-times.chart-container
  +replaceContent('#build-times', '/' + name + '/charts/buildtimes')

section#build-results.chart-container
  +replaceContent('#build-results', '/' + name + '/charts/buildresults')

section#earliest-build-results.chart-container
  +replaceContent('#earliest-build-results', '/' + name + '/charts/earliestbuildresults')

section#latest-build-results.chart-container
  +replaceContent('#latest-build-results', '/' + name + '/charts/latestbuildresults')

+onDocumentReady
  include templates/scripts/updateNavigationLinks.js
  | updateNavigationLinks('#{name}');
