include mixins/scripts

h1 #{name}
div#build-times
  +replaceContent('#build-times', '/' + name + '/charts/buildtimes')

ul
  each build in builds
    li #{build.id} #{build.duration} #{build.result}

