include mixins/scripts

header
  h1
    button prev
    | #{name}
    button next

section#build-times.chart-container
  +replaceContent('#build-times', '/' + name + '/charts/buildtimes')

section#build-results.chart-container
  +replaceContent('#build-results', '/' + name + '/charts/buildresults')

section#earliest-build-results.chart-container
  +replaceContent('#earliest-build-results', '/' + name + '/charts/earliestbuildresults')

section#latest-build-results.chart-container
  +replaceContent('#latest-build-results', '/' + name + '/charts/latestbuildresults')

//ul
//  each build in builds
//    li #{build.id} #{build.duration} #{build.result}

