include mixins/dependencies

doctype html
head
  +javascriptLibraries
  +styles
body
  +chartGlobals
  div.page
    include templates/_joblist
    main#content.expanding.page-content
  footer.inner-top-shadow
    p <strong>JeMexx Version #{package.version}</strong>
      | - Jenkins data extracted and visualized in a classy way.
    p You can find the project in <a href="#{package.repository.url}", target="_blank">GitHub</a>.

