include mixins/dependencies

doctype html
head
  +javascriptLibraries
  +styles
body
  +chartGlobals
  div.page
    include templates/_joblist
    main#content.expanding.page-content

    // TODO: fix main content scrolling