include mixins/dependencies

doctype html
head
  +javascriptLibraries
  +styles
body
  p #{new Date()}
  table
    tr
      td#list
        ul
          each job in jobs
            li(data-job="#{job}") #{job}
      td#content
