include mixins/dependencies

doctype html
head
  +javascriptLibraries
  +styles
body
  +chartGlobals
  div.container
    div.row
      aside#jobs.left
        nav
          ul
            each job in jobs
              li(data-job="#{job}")
                a(href="#!#{job}") #{job}
      main#content.right
