include ../mixins/scripts

aside#jobs.sidebar.left.expanded.right-shadow
  header
    button#jobs-collapse
      i.fa.fa-times(aria-hidden="true")
    button#jobs-expand
      i.fa.fa-bars(aria-hidden="true")
    .search
      i.fa.fa-search(aria-hidden="true")
      input(type="text",placeholder="Search")#jobs-filter
  nav
    ul.scrollbar-inner
      each job in jobs
        li(data-job="#{job}")
          a(href="#!#{job}") #{job}

+onDocumentReady
  include scripts/initializeJobListScrollbar.js
  | initializeJobListScrollbar();
