aside#jobs.left.expanded
  header
    button#jobs-collapse
      span ❌
    button#jobs-expand
      span ☰
    .search
      span ⚲
      input(type="text",placeholder="Search")#jobs-filter
  nav
    ul
      each job in jobs
        li(data-job="#{job}")
          a(href="#!#{job}") #{job}
