extends _page

block content
  section#build-results.right.pie-chart-container
    +replaceContent('#build-results', '/charts/' + name + '/buildresults')
  section#build-times.expanding.bar-chart-container
    +replaceContent('#build-times', '/charts/' + name + '/buildtimes')

  section#earliest-build-results.right.pie-chart-container
    +replaceContent('#earliest-build-results', '/charts/' + name + '/earliestbuildresults')
  section#earliest-build-times.expanding.bar-chart-container
    +replaceContent('#earliest-build-times', '/charts/' + name + '/earliestbuildtimes')

  section#latest-build-results.right.pie-chart-container
    +replaceContent('#latest-build-results', '/charts/' + name + '/latestbuildresults')
  section#latest-build-times.expanding.bar-chart-container
    +replaceContent('#latest-build-times', '/charts/' + name + '/latestbuildtimes')
