extends _page

block content
  section#test-result-metrics.expanding.left
    +replaceContent('#test-result-metrics', '/metrics/' + name + '/testresults')

  section#build-time-metrics.expanding.left
    +replaceContent('#build-time-metrics', '/metrics/' + name + '/buildtimes')

