extends _job_page

block content
  section#test-result-distribution.right.pie-chart-container
    +replaceContent('#test-result-distribution', '/' + name + '/charts/testresultdistribution')
  section#test-results.expanding.bar-chart-container
    +replaceContent('#test-results', '/' + name + '/charts/testresults')

  section#earliest-test-result-distribution.right.pie-chart-container
    +replaceContent('#earliest-test-result-distribution', '/' + name + '/charts/earliesttestresultdistribution')
  section#earliest-test-results.expanding.bar-chart-container
    +replaceContent('#earliest-test-results', '/' + name + '/charts/earliesttestresults')
