include scripts

mixin javascriptLibraries
  script(src="/vendor/jquery-2.2.4.min.js")
  script(src="/vendor/Chart.js-2.1.4.min.js")
  script(src="/javascript/client.js")

mixin styles
  link(rel="stylesheet", type="text/css", href="/vendor/LatoLatin/latolatinfonts.css")
  link(rel="stylesheet", type="text/css", href="/stylesheet/default.css")

mixin chartGlobals
  +onDocumentReady
    | Chart.defaults.global.defaultFontFamily = 'LatoLatinWeb, Lato, Helvetica, Arial, sans-serif';
    | Chart.defaults.global.defaultFontColor = '#2c3e50';
    | Chart.defaults.global.tooltips.titleColor = '#ecf0f1';
    | Chart.defaults.global.tooltips.bodyColor = '#ecf0f1';
    | Chart.defaults.global.tooltips.footerColor = '#ecf0f1';
    | Chart.defaults.global.tooltips.backgroundColor = '#2c3e50';
