mixin javascriptLibraries
  script(src="/vendor/jquery-2.2.4.min.js")
  script(src="/vendor/Chart.js-2.1.4.min.js")
  script(src="/javascript/client.js")

mixin styles
  link(rel="stylesheet", type="text/css", href="/stylesheet/default.css")
