mixin javascriptLibraries
  script(src="/vendor/jquery-2.2.4.min.js")
  script(src="/vendor/d3-3.5.17.min.js")
  script(src="/vendor/epoch-0.8.4.min.js")
  script(src="/javascript/client.js")

mixin styles
  link(rel="stylesheet", type="text/css", href="/vendor/epoch-0.8.4.min.css")
  link(rel="stylesheet", type="text/css", href="/stylesheet/default.css")
