mixin disposableScript
  div.disposable
    script
      | (function(){
      |    function run() {
      block
      |      $('.disposable').remove();
      |    }
      |   $(document).ready(run);
      | })();
