mixin onDocumentReady
  script
    | $(document).ready(function() {
    block
    | });

mixin get(url)
  +onDocumentReady
    | $.get('#{url}', function(data, textStatus, jqXHR) {
    block
    | });

mixin replaceContent(matcher, url)
  +get(url)
    | $('#{matcher}').html(data);

